
.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  z-index: -10000; 
  opacity: 0.2;
  object-fit: cover; 
}

.container {
    display: flex; 
    /* height: 100%; */
}

  .content {
    height: 100%;
    z-index: 22; 
    margin-left: calc(420px); /* 사이드바 너비 + 사이드바의 margin-left */
    margin-right: calc(150px); /* 사이드바 너비 + 사이드바의 margin-left */
    width: calc(100% - 150px); 
    /* padding: 0px 260px;    */
    /* margin-top: 110px; */   


    /*  미디어쿼리 시 추가 */
    display: flex;
    flex-direction: column;
    gap:20px;  
   /*  미디어쿼리 시 추가 */
  }

